<div class="forgot-password-container" fxFill fxLayout="row" fxLayoutAlign="center center">

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" [ngStyle.gt-xs]="{'min-width.px': 300 }" novalidate>

      <mat-form-field fxLayout="column">
        <input matInput placeholder="Email" type="email" formControlName="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
      </mat-form-field>

      <div fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button type="submit" [disabled]=forgotPasswordForm.invalid>Forgot Password</button>
      </div>

    </form>

  </div>
