<div class="change-password-container" fxFill fxLayout="row" fxLayoutAlign="center center">

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" [ngStyle.gt-xs]="{'min-width.px': 300 }" novalidate>

    <mat-form-field fxLayout="column">
      <input matInput placeholder="Old Password" [type]="hide ? 'password': 'text'" formControlName="oldPassword" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="oldPassword.invalid">{{getErrorMessage(oldPassword)}}</mat-error>
    </mat-form-field>

    <mat-form-field fxLayout="column">
      <input matInput placeholder="New Password" [type]="hide ? 'password': 'text'" formControlName="newPassword" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="newPassword.invalid">{{getErrorMessage(newPassword)}}</mat-error>
    </mat-form-field>

    <mat-form-field fxLayout="column">
      <input matInput placeholder="Confirm New Password" [type]="hide ? 'password': 'text'" formControlName="confirmNewPassword" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="confirmNewPassword.invalid">{{getErrorMessage(confirmNewPassword)}}</mat-error>
    </mat-form-field>

    <div fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button type="submit" [disabled]=changePasswordForm.invalid>Change Password</button>
    </div>

  </form>

</div>
